# Lab book: qualidade de laboratórios de citopatologia

+ Período: 2015 a 2019
+ Dados: Rio Grande do Sul (RS), Santa Catarina (SC) e Paraná (PR)
+ Autor: Taize Branco dos Santos

In [1]:
import pandas as pd
import analysis

## 1. Leitura dos dados e cálculo dos índices de qualidade

**Índices:**
+ Índice de positividade
+ Percentual ASC satisfatórios
+ Percentual ASC alterados
+ Razão ASC/SIL
+ Percentual insatisfatórios

**Filtro:**
+ Seja $x_a$ o número de exames realizados pelo laboratório $x$ no ano $a$.
+ Os dados do laboratório $x$ em um determinado ano $a$ são contabilizados somente se $x_a \ge m$.
+ Parâmetro: $m = 1500$.
+ Exemplo: se um laboratório fez $1000$ exames em 2015 e $2200$ exames em 2016, seus dados não serão contabilizados no ano de 2015, mas serão contabilizados em 2016.

**Classes:**
+ Um laboratório $x$ é classificado em cada ano $a = \{2015, 2016, 2017, 2018, 2019\}$, segundo a seguinte regra:
    + **pouco**: se $x_a < v_1$,
    + **razoável**: se $v_1 \le x_a < v_2$,
    + **bom**: se $v_2 \le x_a < v_3$,
    + **ideal**: se $v_3 \le x_a$.
+ Parâmetros: $v_1 = 5000$, $v_2 = 10000$ e $v_3 = 15000$.
+ Exemplo: se um laboratório fez $6000$ exames em 2015 e $11500$ exames em 2016, ele será classificado como **razoável** em 2015 e **bom** em 2016.

In [2]:
estados = ['rs', 'sc', 'pr']
anos = [2015, 2016, 2017, 2018, 2019]
m = 1500
v = [5000, 10000, 15000] #v1, v2, v3
dados = analysis.leituraDados(estados, anos, m, v)

## 2. Estatística descritiva básica

Mostrando estatísticas básicas sobre o conjunto de dados.

In [3]:
pd.options.display.float_format = "{:.1f}".format
dados[['ex_total', 'ex_sat', 'ex_ins', 'asc_total', 'sil_total', 'ind_pos', 'per_asc_sat',
       'per_asc_alt', 'raz_asc_sil', 'per_hsil', 'per_ins', 'estado']].describe()

,ex_total,ex_sat,ex_ins,asc_total,sil_total,ind_pos,per_asc_sat,per_asc_alt,raz_asc_sil,per_hsil,per_ins
count,649.0,649.0,649.0,649.0,649.0,649.0,649.0,649.0,648.0,649.0,649.0
mean,11535.8,11454.4,67.7,213.1,108.7,3.0,1.9,58.5,2.5,0.3,0.6
std,9380.3,9315.2,126.2,366.1,155.0,2.5,1.8,15.6,4.6,0.3,1.0
min,1504.0,1500.0,0.0,0.0,0.0,0.1,0.0,0.0,0.0,0.0,0.0
25%,4962.0,4937.0,8.0,49.0,30.0,1.4,0.7,48.4,1.1,0.1,0.1
50%,8875.0,8826.0,24.0,112.0,62.0,2.2,1.3,60.5,1.8,0.2,0.3
75%,14857.0,14718.0,71.0,230.0,126.0,3.9,2.3,70.0,2.8,0.4,0.7
max,52746.0,52646.0,1625.0,4899.0,1564.0,15.8,11.6,100.0,93.4,2.5,9.1

## 3. Laboratórios

Mostrando a quantidade de laboratórios em cada estado para cada classe.

In [4]:
analysis.quantidadeLaboratorios(dados)

,estado,classe,2015,2016,2017,2018,2019
0,rs,pouco,11 (30.6%),13 (32.5%),13 (30.2%),11 (27.5%),16 (34.8%)
1,rs,razoavel,12 (33.3%),16 (40.0%),16 (37.2%),14 (35.0%),10 (21.7%)
2,rs,bom,6 (16.7%),5 (12.5%),7 (16.3%),9 (22.5%),9 (19.6%)
3,rs,ideal,7 (19.4%),6 (15.0%),7 (16.3%),6 (15.0%),11 (23.9%)
4,rs,TOTAL,36 (100.0%),40 (100.0%),43 (100.0%),40 (100.0%),46 (100.0%)
5,sc,pouco,12 (29.3%),14 (34.1%),17 (38.6%),14 (33.3%),11 (29.7%)
6,sc,razoavel,15 (36.6%),13 (31.7%),12 (27.3%),13 (31.0%),9 (24.3%)
7,sc,bom,8 (19.5%),7 (17.1%),7 (15.9%),8 (19.0%),9 (24.3%)
8,sc,ideal,6 (14.6%),7 (17.1%),8 (18.2%),7 (16.7%),8 (21.6%)
9,sc,TOTAL,41 (100.0%),41 (100.0%),44 (100.0%),42 (100.0%),37 (100.0%)
10,pr,pouco,7 (13.2%),9 (17.6%),4 (8.7%),6 (13.3%),6 (13.6%)
11,pr,razoavel,15 (28.3%),13 (25.5%),12 (26.1%),9 (20.0%),9 (20.5%)
12,pr,bom,17 (32.1%),11 (21.6%),11 (23.9%),11 (24.4%),14 (31.8%)
13,pr,ideal,14 (26.4%),18 (35.3%),19 (41.3%),19 (42.2%),15 (34.1%)
14,pr,TOTAL,53 (100.0%),51 (100.0%),46 (100.0%),45 (100.0%),44 (100.0%)

## 4. Exames realizados

Mostrando a quantidade de exames realizados por estado em cada ano.

In [5]:
pd.options.display.float_format = "{:.0f}".format
analysis.quantidadeExames(dados)

   estado    classe    2015    2016    2017    2018    2019   total
0      rs     pouco   32946   42961   42034   37787   47207  202935
1      rs  razoavel   74378  119513  108798   98073   68437  469199
2      rs       bom   69189   62091   87643  117451  110368  446742
3      rs     ideal  131850  134169  151022  165345  292573  874959
4      sc     pouco   33580   44415   48968   33814   25528  186305
5      sc  razoavel  112393  111160   89900   93694   61715  468862
6      sc       bom   99752   89735   80035   95487  107856  472865
7      sc     ideal  152770  168718  211248  216627  233003  982366
8      pr     pouco   25512   24224   10811   19049   21900  101496
9      pr  razoavel  113130  103087   85891   60359   59102  421569
10     pr       bom  216290  138221  138212  133612  177452  803787
11     pr     ideal  324688  410330  445905  452306  422398 2055627
12  total         - 1386478 1448624 1500467 1523604 1627539 7486712

## 5. Indicadores de qualidade

### 5.1. Índice de positividade

In [6]:
pd.options.display.float_format = "{:.1f}".format
analysis.tabelaIndicador(dados, 'ind_pos', 'mean')

   estado    classe  2015  2016  2017  2018  2019
0      rs     pouco   2.6   2.8   3.9   4.7   7.1
1      rs  razoavel   1.8   2.3   2.2   2.2   4.5
2      rs       bom   3.4   2.6   2.9   3.3   4.5
3      rs     ideal   2.8   2.7   2.4   2.0   6.6
4      sc     pouco   2.3   2.6   2.5   3.2   6.0
5      sc  razoavel   1.6   1.4   1.8   2.1   4.3
6      sc       bom   2.4   2.5   2.2   2.6   4.4
7      sc     ideal   1.6   3.1   3.5   3.1   6.3
8      pr     pouco   4.6   4.4   8.8   7.2   2.1
9      pr  razoavel   3.5   2.4   2.2   1.8   2.9
10     pr       bom   1.6   2.8   2.3   2.2   2.5
11     pr     ideal   2.3   2.3   2.5   2.5   2.9

### 5.2. Percentual de ASC entre exames satisfatórios

In [7]:
analysis.tabelaIndicador(dados, 'per_asc_sat', 'mean')

   estado    classe  2015  2016  2017  2018  2019
0      rs     pouco   1.5   1.6   2.3   3.3   4.7
1      rs  razoavel   1.2   1.5   1.2   1.3   2.5
2      rs       bom   2.1   1.6   1.8   2.0   2.7
3      rs     ideal   1.9   1.9   1.7   1.4   4.5
4      sc     pouco   1.2   1.5   1.4   2.0   3.7
5      sc  razoavel   1.0   0.9   1.0   1.2   2.4
6      sc       bom   1.6   1.6   1.5   1.7   2.7
7      sc     ideal   1.0   2.0   2.4   2.1   4.4
8      pr     pouco   2.7   2.7   6.0   5.1   1.3
9      pr  razoavel   2.0   1.3   1.2   1.1   2.1
10     pr       bom   1.0   1.6   1.3   1.3   1.4
11     pr     ideal   1.1   1.2   1.4   1.4   1.7

### 5.3. Percentual de ASC entre exames alterados

In [8]:
analysis.tabelaIndicador(dados, 'per_asc_alt', 'mean')

   estado    classe  2015  2016  2017  2018  2019
0      rs     pouco  55.3  52.6  56.8  70.7  61.3
1      rs  razoavel  53.6  60.8  55.5  52.0  57.0
2      rs       bom  50.3  46.3  51.8  58.3  55.9
3      rs     ideal  64.5  64.9  65.7  59.5  62.1
4      sc     pouco  52.0  57.8  52.9  61.8  60.7
5      sc  razoavel  62.8  63.8  57.2  57.3  57.0
6      sc       bom  65.2  65.9  68.4  62.3  61.6
7      sc     ideal  63.8  63.0  64.7  62.9  64.3
8      pr     pouco  57.0  63.3  65.2  65.9  60.3
9      pr  razoavel  54.1  52.7  56.1  59.3  63.1
10     pr       bom  58.0  56.0  53.6  57.2  54.0
11     pr     ideal  52.3  57.4  57.9  61.4  58.3

### 5.4. Razão de ASC entre LSIL e HSIL

In [9]:
analysis.tabelaIndicador(dados, 'raz_asc_sil', 'mean')

   estado    classe  2015  2016  2017  2018  2019
0      rs     pouco   2.1   2.0   2.0   4.3   2.6
1      rs  razoavel   1.8   2.1   2.2   1.5   1.8
2      rs       bom   2.2   2.6   2.1   2.0   1.6
3      rs     ideal   4.3   4.9   7.9   6.4   4.7
4      sc     pouco   1.5   2.2   1.9   3.0   2.2
5      sc  razoavel   2.2   2.5   1.8   1.9   1.7
6      sc       bom   2.4   2.4   2.5   2.1   2.1
7      sc     ideal   2.8   3.3   3.2   3.3   3.0
8      pr     pouco   1.8   2.2   2.8   3.8   2.4
9      pr  razoavel   3.3   1.7   1.8   2.4  12.3
10     pr       bom   2.3   1.7   1.5   1.9   1.7
11     pr     ideal   1.6   2.0   2.1   2.5   2.0

### 5.5. Percentual de HSIL entre exames satisfatórios

In [10]:
analysis.tabelaIndicador(dados, 'per_hsil', 'mean')

   estado    classe  2015  2016  2017  2018  2019
0      rs     pouco   0.2   0.3   0.4   0.3   0.4
1      rs  razoavel   0.1   0.2   0.2   0.2   0.5
2      rs       bom   0.2   0.2   0.2   0.3   0.4
3      rs     ideal   0.2   0.2   0.2   0.2   0.4
4      sc     pouco   0.3   0.3   0.2   0.3   0.7
5      sc  razoavel   0.1   0.1   0.2   0.2   0.5
6      sc       bom   0.2   0.2   0.2   0.3   0.5
7      sc     ideal   0.2   0.4   0.3   0.3   0.6
8      pr     pouco   0.7   0.5   0.9   0.7   0.2
9      pr  razoavel   0.4   0.3   0.3   0.2   0.3
10     pr       bom   0.2   0.4   0.3   0.2   0.3
11     pr     ideal   0.3   0.3   0.3   0.4   0.4

### 5.6. Percentual de exames insatisfatórios

In [11]:
analysis.tabelaIndicador(dados, 'per_ins', 'mean')

   estado    classe  2015  2016  2017  2018  2019
0      rs     pouco   0.9   1.0   1.1   1.0   0.6
1      rs  razoavel   0.6   0.4   0.7   0.9   0.8
2      rs       bom   0.8   1.0   0.5   0.4   0.2
3      rs     ideal   0.5   1.0   0.7   0.6   0.5
4      sc     pouco   0.7   0.6   0.8   1.1   0.7
5      sc  razoavel   0.4   0.9   0.5   0.3   0.4
6      sc       bom   1.1   0.3   0.5   0.9   0.7
7      sc     ideal   0.4   0.6   0.5   0.7   1.0
8      pr     pouco   0.3   0.6   0.3   0.4   0.5
9      pr  razoavel   0.7   0.4   0.5   0.6   0.9
10     pr       bom   0.5   0.5   0.6   0.8   0.8
11     pr     ideal   0.3   0.4   0.5   0.4   0.5