# Análise da qualidade de laboratórios de citopatologia
## Leitura dos dados

+ Período: 2015 a 2019
+ Dados: Rio Grande do Sul (RS), Santa Catarina (SC) e Paraná (PR)
+ Autor: Taize Branco dos Santos

In [1]:
import pandas as pd
import analysis

## 1. Leitura dos dados e cálculo dos índices de qualidade

**Índices:**
+ Índice de positividade
+ Percentual ASC satisfatórios
+ Percentual ASC alterados
+ Razão ASC/SIL
+ Percentual insatisfatórios

**Filtro:**
+ Sendo $x^a$ o número de exames realizados pelo laboratório $x$ no ano $a$, $x_\text{min} = \text{min} \{x^{2015}, x^{2016}, x^{2017}, x^{2018}, x^{2019}\}$. O laboratório $x$ é rejeitado se $x_\text{min} < m$ ($m$ é um parâmetro ajustável).
+ Valor padrão: $m = 1500$.

**Classes:**
+ O laboratório $x$ é classificado segundo a seguinte regra ($v_1$, $v_2$ e $v_3$ são parâmetros ajustáveis):
    + **pouco**: se $x_\text{min} < v_1$,
    + **razoável**: se $v_1 \le x_\text{min} < v_2$,
    + **bom**: se $v_2 \le x_\text{min} < v_3$,
    + **ideal**: se $v_3 \le x_\text{min}$.
+ Valores padrão: $v_1 = 5000$, $v_2 = 10000$ e $v_3 = 15000$.

In [2]:
estados = ['rs', 'sc', 'pr']
anos = [2015, 2016, 2017, 2018, 2019]
m = 1500
v = [5000, 10000, 15000] #v1, v2, v3
dados = analysis.leituraDados(estados, anos, m, v)

## 2. Estatística descritiva básica

Mostrando estatísticas básicas sobre o conjunto de dados.

In [3]:
pd.options.display.float_format = "{:.1f}".format
dados[['ex_total', 'ex_sat', 'ex_ins', 'asc_total', 'sil_total', 'ind_pos', 'per_asc_sat',
       'per_asc_alt', 'raz_asc_sil', 'per_hsil', 'per_ins', 'estado']].describe()

,ex_total,ex_sat,ex_ins,asc_total,sil_total,ind_pos,per_asc_sat,per_asc_alt,raz_asc_sil,per_hsil,per_ins
count,485.0,485.0,485.0,485.0,485.0,485.0,485.0,485.0,485.0,485.0,485.0
mean,12936.5,12841.4,78.3,220.1,115.6,2.8,1.7,59.0,2.5,0.3,0.6
std,9379.1,9307.0,139.2,292.7,146.5,2.0,1.4,14.5,3.2,0.3,1.0
min,1504.0,1500.0,0.0,3.0,2.0,0.2,0.0,16.0,0.2,0.0,0.0
25%,5942.0,5909.0,10.0,60.0,35.0,1.4,0.7,48.6,1.2,0.1,0.1
50%,10784.0,10634.0,27.0,128.0,71.0,2.1,1.3,60.8,1.8,0.2,0.3
75%,16922.0,16818.0,90.0,269.0,140.0,3.6,2.2,70.0,2.9,0.4,0.8
max,52746.0,52646.0,1625.0,2799.0,1374.0,15.3,10.5,91.9,42.5,2.5,9.1

## 3. Laboratórios

Mostrando a quantidade de laboratórios em cada estado para cada classe.

In [4]:
analysis.laboratoriosEstadoClasse(dados)

  estado  pouco  razoavel  bom  ideal  total
0     rs      9        11    4      4     28
1     sc      9        10    4      5     28
2     pr      9        12   12      8     41

## 4. Exames realizados

Mostrando a quantidade de exames realizados por estado em cada ano.

In [6]:
pd.options.display.float_format = "{:.0f}".format
analysis.examesEstadoClasseAno(dados)

   estado    classe    2015    2016    2017    2018    2019   total
0      rs     pouco   43686   43588   53645   51472   41838  234229
1      rs  razoavel   88868   89636   82933   85075   98937  445449
2      rs       bom   58195   58935   57141   53853   59655  287779
3      rs     ideal   80539   99478   99958   95786  116633  492394
4      sc     pouco   36726   35248   34454   35462   33970  175860
5      sc  razoavel   86182   93699   92830   91850   98527  463088
6      sc       bom   54518   59320   57700   58551   58726  288815
7      sc     ideal  137146  125039  147103  161363  161204  731855
8      pr     pouco   81743   80034   73030   73627   37483  345917
9      pr  razoavel  109639  143063  156860  149166  158473  717201
10     pr       bom  155540  185875  195765  196357  215248  948785
11     pr     ideal  213666  219605  225553  233768  250231 1142823
12  total         - 1146448 1233520 1276972 1286330 1330925 6274195