# Análise da qualidade de laboratórios de citopatologia
## Leitura dos dados

+ Período: 2015 a 2019
+ Dados: Rio Grande do Sul (RS), Santa Catarina (SC) e Paraná (PR)
+ Autor: Taize Branco dos Santos

In [1]:
import pandas as pd
import analysis

## 1. Leitura dos dados e cálculo dos índices de qualidade

**Índices:**
+ Índice de positividade
+ Percentual ASC satisfatórios
+ Percentual ASC alterados
+ Razão ASC/SIL
+ Percentual insatisfatórios

**Filtro:**
+ Sendo $x^a$ o número de exames realizados pelo laboratório $x$ no ano $a$, $x_\text{min} = \text{min} \{x^{2015}, x^{2016}, x^{2017}, x^{2018}, x^{2019}\}$. O laboratório $x$ é rejeitado se $x_\text{min} < m$ ($m$ é um parâmetro ajustável).
+ Valor padrão: $m = 1500$.

**Classes:**
+ O laboratório $x$ é classificado segundo a seguinte regra ($v_1$, $v_2$ e $v_3$ são parâmetros ajustáveis):
    + **pouco**: se $x_\text{min} < v_1$,
    + **razoável**: se $v_1 \le x_\text{min} < v_2$,
    + **bom**: se $v_2 \le x_\text{min} < v_3$,
    + **ideal**: se $v_3 \le x_\text{min}$.
+ Valores padrão: $v_1 = 5000$, $v_2 = 10000$ e $v_3 = 15000$.

In [2]:
estados = ['rs', 'sc', 'pr']
anos = [2015, 2016, 2017, 2018, 2019]
m = 1500
v = [5000, 10000, 15000] #v1, v2, v3
dados = analysis.leituraDados(estados, anos, m, v)

## 2. Apresentação dos dados

Mostrando os dez primeiros dados (laboratório, ano e indicadores de qualidade) para cada estado.


**Rio Grande do Sul**

In [3]:
dados[dados['estado'] == 'rs'][['lab', 'ano', 'ind_pos', 'per_asc_sat', 'per_asc_alt',
                                'raz_asc_sil', 'per_hsil', 'per_ins']].head(10)

,lab,ano,ind_pos,per_asc_sat,per_asc_alt,raz_asc_sil,per_hsil,per_ins
0,1,2015,1.750330,1.155878,66.037736,2.187500,0.099075,0.427491
1,2,2015,1.489512,0.475939,31.952663,0.556701,0.264410,3.207644
2,3,2015,3.440367,2.178899,63.333333,2.111111,0.344037,0.852757
3,4,2015,2.134525,1.042442,48.837209,1.272727,0.223380,0.444774
4,5,2015,0.473853,0.236927,50.000000,1.076923,0.050770,0.101078
5,6,2015,0.371540,0.130039,35.000000,0.700000,0.074308,0.351656
6,7,2015,2.573325,1.448761,56.299213,1.459184,0.263411,0.533494
7,8,2015,3.074643,2.259678,73.493976,2.870588,0.185219,0.240052
8,9,2015,1.118443,0.743765,66.500000,2.509434,0.027961,0.654283
9,10,2015,0.274947,0.048520,17.647059,0.272727,0.064694,0.161473

**Santa Catarina**

In [4]:
dados[dados['estado'] == 'sc'][['lab', 'ano', 'ind_pos', 'per_asc_sat', 'per_asc_alt',
                                'raz_asc_sil', 'per_hsil', 'per_ins']].head(10)

,lab,ano,ind_pos,per_asc_sat,per_asc_alt,raz_asc_sil,per_hsil,per_ins
28,29,2015,0.776867,0.474752,61.111111,1.571429,0.129478,0.358372
29,30,2015,3.592625,1.899185,52.863436,1.371429,0.332357,0.189544
30,31,2015,2.581677,2.033356,78.761062,3.869565,0.057117,1.813907
31,32,2015,1.457379,0.922015,63.265306,1.741573,0.202249,0.011821
32,33,2015,2.064939,1.495300,72.413793,3.000000,0.071205,0.142207
33,34,2015,2.521614,1.909222,75.714286,3.533333,0.054035,0.874375
34,35,2015,1.236538,0.757878,61.290323,2.533333,0.139609,0.159299
35,36,2015,1.459667,0.691421,47.368421,1.058824,0.268886,0.774406
36,37,2015,2.836509,1.239885,43.711656,0.916399,0.361089,0.755026
37,38,2015,1.127988,0.954945,84.659091,5.730769,0.025636,0.134409

**Paraná**

In [5]:
dados[dados['estado'] == 'pr'][['lab', 'ano', 'ind_pos', 'per_asc_sat', 'per_asc_alt',
                                'raz_asc_sil', 'per_hsil', 'per_ins']].head(10)

,lab,ano,ind_pos,per_asc_sat,per_asc_alt,raz_asc_sil,per_hsil,per_ins
56,57,2015,6.221956,4.307508,69.230769,2.880000,0.299133,4.554484
57,58,2015,4.301764,2.054834,47.767253,1.180602,1.024507,0.676457
58,59,2015,0.745371,0.456841,61.290323,1.900000,0.000000,0.215879
59,60,2015,3.211955,1.726211,53.743316,1.511278,0.429406,1.686508
60,61,2015,1.783892,1.242512,69.651741,2.434783,0.088751,0.137369
61,62,2015,1.572371,1.161986,73.900293,3.315789,0.147554,0.243790
62,63,2015,1.052543,0.792553,75.298805,3.258621,0.121609,0.075424
63,64,2015,2.872943,1.584839,55.164319,1.277174,0.357432,0.222058
64,65,2015,1.858191,1.251834,67.368421,2.169492,0.078240,2.774610
65,66,2015,5.013584,4.606076,91.871921,23.312500,0.024697,0.246336